body {
	font-family: arial, helvetica;
	background: url(../paginas/imagenes/8.jpg);
	background-size: cover;
    background-attachment: fixed;
}
.menu{
	list-style: none;
	padding: 0;
	background: #3FA6BA;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #BA6A3F;
}

.conte{
    width: 90%;
    padding: 15px;
}

.info{
    background: #AFD4D7;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #5B9DB6;
    font-size: 40px;
}

img{
	width: 50%;
}
.imge{
	width: 60%;
	border-image: center;
}

h3{
    color: #3C829C;
    font-size: 30px;
}

@media(min-width:770px)
{
    .info{
        margin: auto;
        width: 80%;
        margin-top: 70px;
        border-radius: 2%;
    }
}