body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../imagenes/6.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 1000%;
    padding: 15px;
    margin: center;
}
.imge{
  width: 60%;
  border-image: center;
}
.menu{
  list-style: none;
  padding: 3px;
  background: #3FA6BA;
  width: 70%;
  max-width: 400px;
  margin: center;
}

.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background: #BA6A3F;
}
      